<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% if(req.isAuthenticated()){ %>
      <a href="/dashboard">dashaboard</a>
    <% }else{ %>
      <a href="/auth/register">register</a>
    <% } %>
    <h1>hello world</h1>
  </body>
</html>
