<%- include('../components/validation-error') -%>

<form action="/auth/login" method="POST">
  <input type="text" placeholder="email" name="email" />
  <input type="text" placeholder="password" name="password" />
  <input type="submit" value="login" id="" />
</form>
